.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: #ebfaff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 68px 0px 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox___6FFgk {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  box-shadow:
    0px 0px 20px 0px #00000036,
    0px 0px 0px 1px #00000024;
  margin-top: 0px;
  background: #fcfcfc;
  min-width: 0;
  border-radius: 50px;
  padding: 0px 0px 8px;
}
.text___7Kvf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Estedad";
  font-size: 22px;
  padding-top: 30px;
  padding-bottom: 16px;
  color: #000000;
  font-weight: 500;
  text-decoration-line: none;
  font-style: normal;
  min-width: 0;
}
.httpRestApiFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.dontHave2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 50px;
  padding: 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header {
    padding-bottom: 0px;
    border-radius: 0px;
    border-bottom: 1px dashed #0000002e;
  }
}
.igAndT {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-bottom-style: dashed;
  border-bottom-color: #00000026;
  min-width: 0;
  padding: 20px 8px 8px;
  border-width: 1px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  height: 146px;
  box-shadow: 0px 0px 16px 0px #00000045;
  flex-shrink: 0;
  border-radius: 100px;
}
.img > picture > img {
  object-fit: cover;
}
.dontHave {
  width: 100%;
  height: 67px;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-dnMiXUsqHGaM);
  text-align: center;
  font-family: "Estedad";
  align-self: center;
  min-width: 0;
  flex-shrink: 0;
  padding: 24px var(--token-O7vZe6GZV62m) 0px;
}
.freeBox___97RR {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 25px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___97RR {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
.des {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Estedad";
  font-weight: 500;
  min-width: 0;
}
.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.up {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.right4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.bale2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  height: 63px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-z0lbVLzGgPDA);
  box-shadow: 0px 0px 16px 0px #00000047;
  flex-shrink: 0;
  border-radius: 100px;
  padding: 8px;
}
.text__lRipp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #ffffff;
  padding-top: 9px;
  padding-bottom: 18px;
  font-family: "Estedad";
  font-weight: 600;
  font-size: 22px;
  min-width: 0;
}
.left4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.bale {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  height: 63px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-z0lbVLzGgPDA);
  box-shadow: 0px 0px 16px 0px #00000047;
  flex-shrink: 0;
  border-radius: 100px;
  padding: 8px;
}
.text__nGqMz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #ffffff;
  padding-top: 9px;
  padding-bottom: 18px;
  font-family: "Estedad";
  font-weight: 600;
  font-size: 22px;
  min-width: 0;
}
.down {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
  border-radius: 100px;
  padding: var(--token-O7vZe6GZV62m);
}
.button:global(.__wab_instance):global(.__wab_instance) {
  align-self: auto;
  max-width: 273px;
  width: 100%;
  height: 44px;
  min-width: 0;
}
.svg__wTfyE {
  position: relative;
  height: 1em;
}
.text__vrXc7 {
  padding-left: 0px;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
}
.svg___0XvZw {
  position: relative;
  height: 1em;
}
.دکمهرزروسایت {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px 30px;
  border-bottom: 1px dashed #ececec;
}
@media (min-width: 0px) and (max-width: 768px) {
  .دکمهرزروسایت {
    padding-right: 16px;
    padding-left: 16px;
    box-shadow: none;
    border-bottom: 1px dashed #ececec;
  }
}
.top {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.right {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .right {
    max-width: 60%;
    align-items: flex-end;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
.title {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 20px;
  text-decoration-line: none;
  padding-bottom: 0px;
  color: #000000;
  font-weight: 600;
  font-style: normal;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .title {
    align-self: flex-end;
  }
}
.left {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .left {
    align-items: center;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    max-width: 40%;
    row-gap: 0px;
  }
}
.دکمهیرزروسایت:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 50px;
  flex-grow: 1;
  flex-shrink: 1;
  align-self: center;
  height: 100%;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .دکمهیرزروسایت:global(.__wab_instance):global(.__wab_instance) {
    width: auto;
  }
}
.details {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details {
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    align-self: flex-end;
    height: auto;
    column-gap: 0px;
  }
}
.تسویه {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Estedad";
  padding-top: 1px;
  padding-bottom: 2px;
  color: #3e3e3e;
  font-weight: 500;
  min-width: 0;
}
.تسویه2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Estedad";
  padding-top: 1px;
  padding-bottom: 2px;
  color: #3e3e3e;
  font-weight: 500;
  min-width: 0;
}
.تسویه4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Estedad";
  padding-top: 1px;
  padding-bottom: 2px;
  color: #3e3e3e;
  font-weight: 500;
  min-width: 0;
}
.دکمهرزرودستی {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px 30px;
  border-bottom: 1px dashed #ececec;
}
@media (min-width: 0px) and (max-width: 768px) {
  .دکمهرزرودستی {
    width: 100%;
    height: auto;
    max-width: 100%;
    box-shadow: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 20px 16px;
    border-bottom: 1px dashed #ececec;
  }
}
.top2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.right2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.title2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Estedad";
  font-size: 20px;
  text-decoration-line: none;
  padding-bottom: 0px;
  color: #000000;
  font-weight: 600;
  min-width: 0;
}
.left2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .left2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 0px;
  }
}
.دکمهیرزروسایت2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 50px;
  flex-grow: 1;
  flex-shrink: 1;
  align-self: center;
  height: 100%;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .دکمهیرزروسایت2:global(.__wab_instance):global(.__wab_instance) {
    width: auto;
  }
}
.details2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details2 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.رزروجدید2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Estedad";
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 16px;
  color: #3e3e3e;
  font-weight: 500;
  min-width: 0;
}
.رزروجدید4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Estedad";
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 16px;
  color: #3e3e3e;
  font-weight: 500;
  min-width: 0;
}
.دکمهروزورودمهمان {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .دکمهروزورودمهمان {
    padding-right: 16px;
    padding-left: 16px;
    box-shadow: none;
  }
}
.top3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.right3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.title3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Estedad";
  font-size: 20px;
  text-decoration-line: none;
  padding-bottom: 0px;
  color: #000000;
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .title3 {
    font-size: 17px;
  }
}
.left3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .left3 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    row-gap: 0px;
  }
}
.دکمهیرزروسایت3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 50px;
  flex-grow: 1;
  flex-shrink: 1;
  align-self: center;
  height: 100%;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .دکمهیرزروسایت3:global(.__wab_instance):global(.__wab_instance) {
    width: auto;
  }
}
.details3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .details3 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.رزروجدید3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Estedad";
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 16px;
  color: #3e3e3e;
  font-weight: 500;
  min-width: 0;
}
.رزروجدید5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Estedad";
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 16px;
  color: #3e3e3e;
  font-weight: 500;
  min-width: 0;
}
