.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-z0lbVLzGgPDA);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-KclJUcvw_sxY);
  font-family: var(--token-NIEj0eJGFyy1);
  font-size: var(--token-vKbX12inKv6H);
  line-height: var(--token-zS2KvBkI9pEs);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-yOf7PuvAPJ5s);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-McYhgPluqg44);
  outline-offset: 1px;
  outline-color: var(--token-z0lbVLzGgPDA);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-z0lbVLzGgPDA);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-z0lbVLzGgPDA);
  color: var(--token-z0lbVLzGgPDA);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-QNL1pnQqUu6J);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-xHMWXiBJe7sb);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-uU0bcvGRuHqP);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-QnJha5hHZCzQ);
  font-size: var(--token-VbjKi_Q2S0Rx);
  column-gap: var(--token-McYhgPluqg44);
  row-gap: 0px;
  border-radius: var(--token-q0wUTba5YEWd);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-VbjKi_Q2S0Rx);
  line-height: var(--token-QnJha5hHZCzQ);
  column-gap: var(--token-q0wUTba5YEWd);
  row-gap: 0px;
  border-radius: var(--token-q0wUTba5YEWd);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-dnMiXUsqHGaM);
  line-height: var(--token-ay2dlr5YYhbv);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-dnMiXUsqHGaM);
  line-height: var(--token-ay2dlr5YYhbv);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-iZ3xWCiCDCL7);
  border-radius: var(--token-yOf7PuvAPJ5s);
}
.softBackgroundcolor_neutral {
  background: var(--token-jxVjVuhd0p-c);
}
.softBackgroundcolor_muted {
  background: var(--token--IDmy8RfJH7F);
}
.softBackgroundcolor_success {
  background: var(--token-h5FAteGOPOHp);
}
.softBackgroundcolor_warning {
  background: var(--token-GvHFCr3rSmru);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-XEMSjjtubSdw);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-yOf7PuvAPJ5s);
  border: 0px solid var(--token-Fj331v9gNipB);
}
.bordercolor_neutral {
  border-color: var(--token-XcvovHIERnOl);
}
.bordercolor_muted {
  border-color: var(--token-CzqviW5wQGYx);
}
.bordercolor_success {
  border-color: var(--token-bRcobYVHf9BP);
}
.bordercolor_warning {
  border-color: var(--token-Hw1pNaPVkrch);
}
.bordercolor_errorDestructive {
  border-color: var(--token-EmtKBrGYhAuZ);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-yOf7PuvAPJ5s);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-fEHBvWS7nkaS);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-M0hGc4GPVfhG);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-kNZxfUWhO7wc);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__scuFi {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-yOf7PuvAPJ5s);
  min-width: 0;
  min-height: 0;
  padding: var(--token-yOf7PuvAPJ5s) var(--token-wi3mZjSwv-SB);
}
.freeBoxsize_extraSmall__scuFIrWwi6 {
  padding: var(--token-q0wUTba5YEWd) var(--token-yOf7PuvAPJ5s);
}
.freeBoxsize_small__scuFIv1Jb6 {
  padding: var(--token-yOf7PuvAPJ5s) var(--token-KclJUcvw_sxY);
}
.freeBoxsize_large__scuFimRcWe {
  padding-top: var(--token-q0wUTba5YEWd);
  padding-bottom: var(--token-q0wUTba5YEWd);
}
.freeBoxsize_extraLarge__scuFi0EXje {
  padding-left: var(--token-YKvyhhs5d0MT);
  padding-right: var(--token-YKvyhhs5d0MT);
}
.freeBoxroundedFull__scuFIp2EPa {
  padding-right: var(--token-YKvyhhs5d0MT);
  padding-left: var(--token-YKvyhhs5d0MT);
}
.freeBox___6QWFf {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___6QWFfpGtRq {
  display: flex;
}
.slotTargetStart {
  color: var(--token-tZ0X5ZEf9KMA);
}
.slotTargetStartcolor_neutral {
  color: var(--token-rZXZ1s6PdZ4e);
}
.slotTargetStartcolor_muted {
  color: var(--token-7qYagCWERlgV);
}
.slotTargetStartcolor_success {
  color: var(--token-m6r2gLQ51KZ6);
}
.slotTargetStartcolor_warning {
  color: var(--token-IIzvQ8EBHnWE);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-tivYkrHLL5HN);
}
.slotTargetStarttype_soft {
  color: var(--token-JDLRUXu2CKrF);
}
.slotTargetStarttype_bordered {
  color: var(--token-JDLRUXu2CKrF);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-VbjKi_Q2S0Rx);
}
.slotTargetStartsize_small {
  font-size: var(--token-VbjKi_Q2S0Rx);
}
.slotTargetStartsize_large {
  font-size: var(--token-dnMiXUsqHGaM);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-dnMiXUsqHGaM);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-FZwO6AIgaEUw);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-FZwO6AIgaEUw);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-ufO_0AMH_YAJ);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-ufO_0AMH_YAJ);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-KwvL9WIItvy_);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-KwvL9WIItvy_);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-89YI71m6Ta-B);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-89YI71m6Ta-B);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-ps6XXA4fXoeG);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-ps6XXA4fXoeG);
}
.svg__ncUw {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-tZ0X5ZEf9KMA);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-rZXZ1s6PdZ4e);
}
.slotTargetLabelcolor_muted {
  color: var(--token-7qYagCWERlgV);
}
.slotTargetLabelcolor_success {
  color: var(--token-m6r2gLQ51KZ6);
}
.slotTargetLabelcolor_warning {
  color: var(--token-IIzvQ8EBHnWE);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-tivYkrHLL5HN);
}
.slotTargetLabeltype_soft {
  color: var(--token-JDLRUXu2CKrF);
}
.slotTargetLabeltype_bordered {
  color: var(--token-JDLRUXu2CKrF);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-FZwO6AIgaEUw);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-ufO_0AMH_YAJ);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-FZwO6AIgaEUw);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-KwvL9WIItvy_);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-ufO_0AMH_YAJ);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-89YI71m6Ta-B);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-KwvL9WIItvy_);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-ps6XXA4fXoeG);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-89YI71m6Ta-B);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-ps6XXA4fXoeG);
}
.text__ewKxC {
  white-space: pre;
}
.freeBox__oglQy {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__oglQyASkB5 {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-tZ0X5ZEf9KMA);
}
.slotTargetEndcolor_neutral {
  color: var(--token-rZXZ1s6PdZ4e);
}
.slotTargetEndcolor_muted {
  color: var(--token-7qYagCWERlgV);
}
.slotTargetEndcolor_success {
  color: var(--token-m6r2gLQ51KZ6);
}
.slotTargetEndcolor_warning {
  color: var(--token-IIzvQ8EBHnWE);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-tivYkrHLL5HN);
}
.slotTargetEndtype_soft {
  color: var(--token-JDLRUXu2CKrF);
}
.slotTargetEndtype_bordered {
  color: var(--token-JDLRUXu2CKrF);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-VbjKi_Q2S0Rx);
}
.slotTargetEndsize_small {
  font-size: var(--token-VbjKi_Q2S0Rx);
}
.slotTargetEndsize_large {
  font-size: var(--token-dnMiXUsqHGaM);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-dnMiXUsqHGaM);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-FZwO6AIgaEUw);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-FZwO6AIgaEUw);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-ufO_0AMH_YAJ);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-ufO_0AMH_YAJ);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-KwvL9WIItvy_);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-KwvL9WIItvy_);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-89YI71m6Ta-B);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-89YI71m6Ta-B);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-ps6XXA4fXoeG);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-ps6XXA4fXoeG);
}
.svg__k2VXl {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
