.root:global(.__wab_instance) {
  object-fit: cover;
  box-sizing: border-box;
  color: var(--token-YIwOgLYDwRL4);
  font-family: var(--token-NIEj0eJGFyy1);
  font-size: var(--token-vKbX12inKv6H);
  line-height: var(--token-zS2KvBkI9pEs);
  position: relative;
}
.freeBox {
  position: relative;
  display: flex;
}
