.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.svg__suM9I {
  position: relative;
  height: 1em;
}
.svg__vCjnQ {
  position: relative;
  height: 1em;
}
.ariaModal:global(.__wab_instance) {
  background: var(--token-LROwLBfxBqv2);
  display: block;
  color: var(--token-EYzEMAskhyZ-);
  font-family: var(--token-NIEj0eJGFyy1);
  font-size: var(--token-vKbX12inKv6H);
  line-height: var(--token-zS2KvBkI9pEs);
  outline-style: none;
  box-shadow: 0px 24px 48px -12px #00000040;
  border-radius: var(--token-aXrl34TC68gJ);
}
.pcls_FxZX3gqxO4Np {
  background: var(--token-qapAU45KPGVw);
  left: 0px;
  top: 0px;
  z-index: 10;
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  outline: none;
}
.ariaDialog:global(.__wab_instance) {
  max-width: 90vw;
  object-fit: cover;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  outline-style: none;
}
.h3___4WIp {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-dnMiXUsqHGaM);
  min-width: 0;
  padding: var(--token-O7vZe6GZV62m);
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  overflow: auto;
  padding-left: var(--token-O7vZe6GZV62m);
  padding-right: var(--token-O7vZe6GZV62m);
}
.freeBox__uHNk {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-YKvyhhs5d0MT);
}
.text__nIbVz {
  position: relative;
}
.freeBox__uYbrM {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
  padding: var(--token-O7vZe6GZV62m);
}
.svg__kPosS {
  position: relative;
  height: 1em;
}
.text___2UzrF {
  padding-left: 0px;
}
.svg__eisM {
  position: relative;
  height: 1em;
}
