.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.button__v5U:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg___6XXte {
  position: relative;
  height: 1em;
}
.text__qmi4P {
  padding-right: 0px;
}
.svg___0MeO {
  position: relative;
  height: 1em;
}
.ariaModal:global(.__wab_instance) {
  border-top-right-radius: var(--token-aXrl34TC68gJ);
  border-top-left-radius: var(--token-aXrl34TC68gJ);
  outline-style: none;
  background: var(--token-LROwLBfxBqv2);
  display: block;
  color: var(--token-EYzEMAskhyZ-);
  font-family: var(--token-NIEj0eJGFyy1);
  font-size: var(--token-vKbX12inKv6H);
  line-height: var(--token-zS2KvBkI9pEs);
  position: relative;
  box-shadow: 0px 24px 48px -12px #00000040;
}
.pcls_R8tJL5qAG-uC {
  background: var(--token-qapAU45KPGVw);
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  outline: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .ariaModal:global(.__wab_instance) {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: var(--token-YKvyhhs5d0MT);
    border-top-right-radius: var(--token-YKvyhhs5d0MT);
    max-height: 100%;
  }
}
.ariaDialog:global(.__wab_instance) {
  object-fit: cover;
  overflow: hidden;
  outline-style: none;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  max-height: 90vh;
}
.freeBox__a5Bnt {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  min-width: 0;
  min-height: 0;
}
.h2__msllB {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: bold;
  font-size: var(--token-dnMiXUsqHGaM);
  min-width: 0;
  padding: var(--token-O7vZe6GZV62m);
  margin: 0rem;
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  padding: 0px var(--token-O7vZe6GZV62m);
}
.freeBox___9Z0O {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  row-gap: var(--token-YKvyhhs5d0MT);
}
.text__ziNtr {
  position: relative;
}
.freeBox__zUdNr {
  display: flex;
  position: relative;
  flex-shrink: 0;
  padding: var(--token-O7vZe6GZV62m);
}
.freeBox__wE7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__vBpv3 {
  position: relative;
  height: 1em;
}
.svg__cMhTh {
  position: relative;
  height: 1em;
}
